body {
  padding: 0;
  margin: 0;
  background-color: #0F1010;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------*/
/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}

.timeline-header{
  font-family: courier;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: auto;
  margin: auto;
}
/* this one */
.timeline ol {
  padding: 400px 0;
  transition: all 1s;
}
/* this one */
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 350px;
  height: 3px;
  background: #fff;
}
/* this one */
.timeline ol li:last-child {
  width: 400px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f45b69;
}
/* this one */
.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 400px;
  padding: 15px;
  font-size: 1.7rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}
/* this one */
.timeline time {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.next-previous-container a {
  text-decoration: none;
  padding: 30px 50px;
  margin: 40px;
  font-size: 35px;
}

.next-previous-container a:hover {
  background-color: #5797B6;
  color: black;
  border: 2px solid #C4C4C4;
  opacity: 1;
  text-decoration: none;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  opacity: 0.2;
  border-radius: 20%;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
table {
  font-family: courier;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #5797B6;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.first-section{
  display: flex;
}

.row-2{
  margin-left: 5%;
  margin-bottom: 16px;
}

.inner-header-container div{
  margin-top: 16px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/* MOBILE MODE
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.contact-container p{
  padding: 30px 30px;
  color: white;
  opacity: 0.8;
}

.submit-container{
  margin-bottom: 5%;
}

.submit-container input:hover{
  background: rgba(0,0,0,0.5);
}

.contact-container{
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.contact-container h1{
  font-family: verdana;
}

.contact-container input{
  font-family: courier;
  background: rgba(0,0,0,0.3);
  padding: 10px 16px;
  color: white;
}

.contact-container textarea{
  font-family: courier;
  background: rgba(0,0,0,0.3);
  padding: 10px 16px;
  color: white;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.buttons-container{
  display: flex;
}

.buttons-container input{
  font-family: courier;
  background: rgba(0,0,0,0.3);
  padding: 10px 16px;
}

.buttons-container input:hover{
  background: rgba(0,0,0,0.5);
}

.submission-form-resume{
  padding-left: 16px;
  padding-top: 16px;
}

.submission-form-linkedin{
  padding-top: 16px;
}
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/* MOBILE MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.buttons-container-mobile{
  display: flex;
}

.buttons-container-mobile input{
  font-family: courier;
  background: rgba(0,0,0,0.3);
  padding: 4px 8px;
  font-size: 10px;
}

.buttons-container-mobile input:hover{
  background: rgba(0,0,0,0.5);
}

.submission-form-resume-mobile{
  padding-left: 8px;
  padding-top: 8px;
}

.submission-form-linkedin-mobile{
  padding-top: 8px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* MOBILE MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/* Style the links inside the navigation bar */
.topnav-mobile a{
  float: left;
  color: #fff;
  font-family: courier;
  text-align: center;
  padding: 12px 12px;
  font-size: 11px;
  opacity: 0.5;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav-mobile a:hover {
  color: white;
  opacity: 1;
}
/* Remove css style from a.active element of topnav whenever other a elements of topnav are hovered over */
.topnav-mobile:hover > a.active { opacity: 0.5;}

/* Add a color to the active/current link */
.topnav-mobile a.active {
  opacity: 1;
  color: white;
}
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.topnav a {
  float: left;
  color: #fff;
  font-family: courier;
  text-align: center;
  padding: 25px 25px;
  font-size: 17px;
  opacity: 0.5;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
  opacity: 1;
}
/* Remove css style from a.active element of topnav whenever other a elements of topnav are hovered over */
.topnav:hover > a.active { opacity: 0.5;}

/* Add a color to the active/current link */
.topnav a.active {
  opacity: 1;
  color: white;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
/* BIG SCREEN MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.pinf-brief{
  margin-left: 10%;
  margin-top: 300px;
}

.pinf-brief-container{
  display: inline;
  float: left;
  font-family: courier;
  text-shadow: 1px 1px black;
}

.pinf-brief-container h1{
  font-size: 52px;
}

.pinf-brief-container p{
  font-size: 18px;
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/* MOBILE MODE */
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
.pinf-brief-mobile{
  margin-top: 100px;
  margin-left: 10%;
}

.pinf-brief-container-mobile{
  display: inline;
  float: left;
  font-family: courier;
  text-shadow: 1px 1px black;
}

.pinf-brief-container-mobile h1{
  font-size: 30px;
}

.pinf-brief-container-mobile p{
  font-size: 11px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #0F1010;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  overflow: hidden;
  background: url("https://cdn.omgpx.com/images/2018/11/11/login.jpg") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

img {
  border: solid 2px #5797B6;
  border-radius: 50%;
  height: 300px;
}

#hero, .layer {
  min-height: 800px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
.layer-bg {
  background-image: url("https://cdn.omgpx.com/images/2018/11/11/login.jpg");
  background-size: cover;
  height: 100%;
}

.layer-1 {
  background-image: url("../img/ilu_man.png");
  background-position: right bottom;
}

.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
  opacity: 0.2;
  background-size: cover;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------*/
/* This is where the hero image intersects with the brief info text - remove the image and shrink the text size so that the nav items don't line up under each other*/
@media only screen and (max-width: 1090px) {
  .layer-1{
    opacity: 0;
  }

  .topnav a {
    padding: 16px 16px;
  }

  .pinf-brief-container h1{
    font-size: 44px;
  }

  .pinf-brief-container p{
    font-size: 16px;
  }

  .next-previous-container a {
    text-decoration: none;
    padding: 20px 40px;
    margin: 40px;
    font-size: 35px;
  }


  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }

  .contact-container{
    width: 80%;
  }

  img{
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .first-section{
    display: inline;
  }

  .inner-header-container{
    display: flex;
  }

  .inner-header-container div{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
  }

  td, th {
    text-align: left;
    padding: 4px;
    font-size: 12px;
  }

  .next-previous-container a {
    text-decoration: none;
    padding: 20px 30px;
    margin: 40px;
    font-size: 20px;
  }

  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
